<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>H5-video</string>
	<string>newElement</string>
	<string>canvas</string>
	<string>audio</string>
	<string>source</string>
	<string>embed</string>
	<string>track</string>
	<string>dataList</string>
	<string>keygen</string>
	<string>output</string>
	<string>article</string>
	<string>aside</string>
	<string>bdi</string>
	<string></string>
</array>
</plist>
