<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coreData copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>coreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>obcjDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>objcReview.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ratainCycle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>runtime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B47BA92216915B400330C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B47BAA12169180F00330C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B47BBFD2169217900330C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B47BC952169333400330C52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BCFB2AE216A055B0046BB73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BCFB2CB216A0A7B0046BB73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
